<ion-app>

    <ion-menu side="end" swipe-gesture=true>
        <ion-header>
          <ion-card>
            <ion-card-header color="secondary">
                <p class="p">Hello, {{userId}} </p>
            </ion-card-header>
          </ion-card>
          <ion-toolbar>
            <ion-title class="p">Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item>
                  <ion-icon name="contact"></ion-icon>
                  <ion-button size="medium" color="sucess" (click)="goProfile()"> 
                    <p class="p">Account Profile</p> 
                  </ion-button>
                </ion-item>
              <ion-item>
                  <ion-icon name="exit"></ion-icon>
                  <ion-button size="medium" color="sucess" (click)="logOut()"> 
                    <p class="p">Logout </p>
                  </ion-button>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
</ion-app>
