<ion-app>

    <ion-menu side="end" swipe-gesture=true>
        <ion-header>
          <ion-card>
            <ion-card-header color="secondary">
              Hello, {{userId}}
            </ion-card-header>
          </ion-card>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item>
                <ion-button (click)="goProfile()"> Account Profile </ion-button>
              </ion-item>
              <ion-item>
                <ion-button (click)="logOut()"> Logout </ion-button>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
</ion-app>
