<ion-header>
  <ion-toolbar>
      <ion-item>
          <ion-title>{{coursename}}</ion-title>
          <ion-button slot="end" (click)="goBack()">return</ion-button>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card" *ngFor="let student of studentlist | keyvalue" (click)="onGoToStudentSinglePage(student)">
        <!-- <ion-img [src]="article.urlToImage"></ion-img> -->
              <ion-card-header>
                <ion-card-title>{{student.key}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{student.value}}
              </ion-card-content>
      </ion-card>
</ion-content>
