<!--<ion-header>-->
<!--  <ion-toolbar color="secondary">-->
<!--    <ion-title color="dark">-->
<!--      Explore-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-list-header class="p">You may interested in:</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label color="light" postion="floating" (click)="Career()">Internship</ion-label>
      <ion-icon color="light" name="briefcase"></ion-icon>
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="light" postion="floating" (click)="BookStore()">Bookstore</ion-label>
      <ion-icon color="light" name="book"></ion-icon>
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="light" ostion="floating" (click)="facebook()">UMKC official Facebook</ion-label>
      <ion-icon color="light" name="logo-facebook"></ion-icon>
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="light" postion="floating" (click)="Findfood()">Find a nice Resturant</ion-label>
      <ion-icon color="light" name="pizza"></ion-icon>
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
