<!--<ion-header>-->
<!--  -->
<!--</ion-header>-->

<ion-content style="height: 100px" color="success">
  <ion-toolbar  color="secondary">
    <ion-item color="secondary">
      <ion-title color="secondary" slot="start">
        <p>Account</p>
      </ion-title>
    </ion-item>
    <ion-item color="secondary" slot="end">
      <ion-button style="font-size:large;margin-right:0px;height:30px;width: 80px" slot="end" (click)="goBack()">return</ion-button>
    </ion-item>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>User name:</ion-label>
      <ion-label>{{userId}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
