<ion-header>
  <ion-toolbar>
    <ion-title>
      Service Connection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>Service List:</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label postion="floating">tutour</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">bookstore</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">career</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">scholarship</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">cashire</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
