<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">
      Service Connection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header class="p">Service List:</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label color="light" postion="floating" (click)="conct()">Umkc Connect</ion-label>
        <ion-icon color="light" name="wifi"></ion-icon>
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label color="light" postion="floating" (click)="Tutor()">Tutour</ion-label>
        <ion-icon color="light" name="flask"></ion-icon>
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label color="light" postion="floating" (click)="Scholarship()">Scholarship</ion-label>
        <ion-icon color="light" name="school"></ion-icon>
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label color="light" postion="floating" (click)="Cashiers()">Cashier</ion-label>
        <ion-icon color="light" name="card"></ion-icon>
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
