<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">
      Service Connection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>Service List:</ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label postion="floating" (click)="conct()">Umkc Connect</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating" (click)="Tutor()">Tutour</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating" (click)="Scholarship()">Scholarship</ion-label>
      </ion-item>
      <ion-item>
        <ion-label postion="floating" (click)="Cashiers()">Cashier</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
